.chatList{
    flex:1;
    overflow: auto;
}
.chatList::-webkit-scrollbar {
    width: 10px;
}

.chatList::-webkit-scrollbar-thumb {
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 5px;
}

.chatList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}
.chatList .search{
    display: flex;
    align-items: center;
    gap: 20px;
    padding:0 20px;
}
.chatList .search .searchBar{
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
}
.chatList .search .searchBar input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
}
.chatList .search .searchBar img{
    width: 20px;
    height: 20px;
}
.chatList .search .add{
    width: 20px;
    height: 20px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.chatList .items{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #655d72;
}
.chatList .items img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.chatList .items .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chatList .items .texts span{
    font-weight: 500;
}
.chatList .items .texts p{
    font-size: 14px;
    font-weight: 300;
    margin: auto;
}